.wrapper　{
	margin: 0px;
	padding: 0px;
}
.navbar-adjust {
	padding:  0 10%;
	border-radius: 0px;
}
.container {
	margin: 0 auto;
	padding: 2%;
}
.orders {
	border: 3px dashed #ddd;
	width: 30%;
	padding: 10px;
}
.orders .order-header {
	width: 100%;
	border: 15px solid #ddd;
	border-radius: 30px;
	background-color: #ddd;
	position: relative;
}
.orders .order-details {
	width: 100%;
	background:#eee;
	height: 300px;
	position: absolute;
	top: 0px;
	padding: 10px;
	text-align: center;

}
.orders .order-header span {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: inline-block;
	margin: 0;
	padding: 0px;
	height: 25px;
}
.triangle {
	width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 25px solid #fff;
    display: inline-block;
}
footer {
	height: 250px;
	width: 100%;
	background-color: #202020;
	position: absolute;
	top: 100%;
	font-size: 16px;
	color: #ddd;
	text-align: center;
	padding-top: 20px;
}
footer ul li {
	background-color: #000;
	width: 250px;
	margin: 10px auto;
	padding: 10px;
}
.footer {
	background-color: #000;
	text-align: center;
	font-size: 16px;	
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	bottom: 0px;

}