.wrapper　{
	margin: 0px;
	padding: 0px;
}
.navbar {
	background-color: #222;
	font-size: 14px;
}
.navbar .navbar-collapse {
	display: block;
	width: 80%;
	margin: 0 auto;
}
.navbar ul {
	display: inline;
}
.navbar ul li {
	display: inline-block;
	margin: 0 10px;
	line-height: 50px;
	height: 50px;
	padding: 0 10px;
}
.navbar ul li.active {
	background-color: #000;
	border: 1px solid #101010;
	color: #fff;!important
}
.navbar ul li.active a{
	color: #fff;
}
.navbar a {
	color: #9d9d9d;
	text-decoration: none;
}
.navbar a:hover {
	color: #fff;
}
.navbar .navbar-right {
	float: right;
}
.navbar .navbar-adjust {
	padding:  0 10%;
	border-radius: 0px;
}
.navbar .badge {
	background: #cd0000;
}
.orders {
	border: 3px dashed #ddd;
	width: 30%;
	padding: 10px;
}
.orders .order-header {
	width: 100%;
	border: 15px solid #ddd;
	border-radius: 30px;
	background-color: #ddd;
	position: relative;
}
.orders .order-details {
	width: 100%;
	background:#eee;
	height: 300px;
	position: absolute;
	top: 0px;
	padding: 10px;
	text-align: center;

}
.orders .order-header span {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: inline-block;
	margin: 0;
	padding: 0px;
	height: 25px;
}
.triangle {
	width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 25px solid #fff;
    display: inline-block;
}
footer {
	margin-top: 40px;
	height: 250px;
	width: 100%;
	background-color: #202020;
	position: relative;
	font-size: 16px;
	color: #ddd;
	text-align: center;
	padding-top: 20px;
}
footer ul li {
	background-color: #000;
	width: 250px;
	margin: 10px auto;
	padding: 10px;
}
.copyright {
	background-color: #000;
	text-align: center;
	font-size: 16px;	
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	bottom: 0px;
}
#group-orders {
	margin-top: 20px;
}

#search-form span .control-group{
	display: inline-block;
	margin: 0 20px;
}

.history-order {
	margin-top: 30px;
}
.navbar .navbar-right .message {
	position: relative;
}
.navbar .navbar-right .message-show {
	position: absolute;
	top: 50px;
	left: -100px;
	width: 300px;
	display: none;
}
.message-triangle {
	margin: 0 auto;
	width: 1px;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 25px solid #11ecf7;
}
.message-details {
	width:  auto;
	height: 250px;
	border: 2px solid #11ecf7;
	border-radius: 10px;
	background: #f1f1f1;
	padding: 10px;
	text-align: center;

}